@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_reset.scss";
@import "./_normalize.scss";

html,
body {
  min-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $background-black;
  color: $text-white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page-container {
  padding: 0 2%;
}