@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.features {
  min-height: calc(100vh - 71px);
  width: 100%;
  max-width: 1920px;
  border-bottom: 1px solid $border-graphite;
  overflow: hidden;

  @include large-desktop {
    min-height: auto;
  }
}

.wrapper {
  @include gap(20px);
}

.footer {
  margin-top: 24px;
  @include flex-between;

  .description {
    font-size: $font-size-giant;
    font-style: normal;
    font-weight: $font-weight-regular;
    max-width: 50%;
  }
}
